$navBackgroundColor    : #000;
$navColor              : #fff;
$pageSpecialColorGreen : #27c7ab;
$kontaktColor          : #575757;
$mainPageFirstColor    : #fff;
$mainPageSecondColor   : #f1f1f1;
$containerWidth        : 1064px;


* {
  box-sizing : border-box;
  margin:   0;
  padding:  0;
}

body {
	font-family: 'Raleway', arial,sans-serif;
}

.mainPage {
  width : 1200px;
	margin : 0 auto;
  .navBar {
  	width :100%;
    height: 40px;
  	background : $navBackgroundColor;
  }
  .slider {
    width : 100%;
    height : 505px;
    // background-color: $mainPageFirstColor;
    box-shadow: inset 0px -123px 144px -112px rgba(208,207,215,1);
      position: relative;
    // background: linear-gradient(#ffffff, #d0cfd7);
    img {
        position: absolute;
      	width : 546px;
      	height : 388px;
        margin-top: 88px;
        margin-left: 34px;

    }
    .slideDescription {
      position: absolute;
      margin-top: 158px;
      margin-left: 544px;
      width : 430px;
      height : auto;
      text-align: center;
      h1 {
        margin-bottom: 16px;
        padding: 0;
        font-family: 'Raleway', arial,sans-serif;
        font-size: 34px;
        color : #000;
        span{
          font-family: 'Raleway Heavy', arial,sans-serif;
          font-weight: bold;
          color: $pageSpecialColorGreen;
          margin: 0 4px;
        }
      }
      p {
        margin : 0;
        padding: 0;
        font-family: 'Raleway', arial,sans-serif;
        font-size: 10px;
        color : $kontaktColor;
        line-height: 20px;
      }
      .button {
        margin : 30px auto 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width : 264px;
        height : 52px;
        color : #fff;
        font-size: 17px;
        background: $pageSpecialColorGreen;
        border-radius: 10px;
      }
    }
  }
  .firstPartMainPage {
    width : 100%;
    height : 350px;
    background: $mainPageFirstColor;
  }
  .secondPartMainPage {
    width : 100%;
    height : 725px;
    background: $mainPageSecondColor;
  }
  .thirdPartMainPage {
    width : 100%;
    height : 653px;
    background: $mainPageFirstColor;
  }
}

.container {
	width: 1064px;
  // border : 1px solid black;
  height: 2275px;
  position : relative;
  margin : -2273px auto 0;
  .navBar {
  	width :100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color : $navColor;
    font-weight: bold;
    font-size: 10px;
    span {
      font-family: 'Raleway Heavy', arial,sans-serif;
      font-weight: bold;
      color: $pageSpecialColorGreen;
      margin: 0 4px;
    }
    ul {
     list-style-type:none;
    }

    ul li {
        display: inline-block;
    		height: 10px;
    		font-weight: bold;
    		font-size: 10px;
    		letter-spacing: 1px;
        padding-top: 4px;
        margin-left: 39px;
    }
  }

  .slider {
    width : 100%;
    height : 505px;
    position: relative;
    .leftSliderButton {
      position: absolute;
      margin-left: 10px;
      margin-top: 200px;
      font-family: 'Raleway', arial,sans-serif;
      font-size: 52px;
      color: $pageSpecialColorGreen;
    }
    .rightSliderButton {
      position: absolute;
      margin-left: $containerWidth - 40px;
      margin-top: 200px;
      font-family: 'Raleway', arial,sans-serif;
      font-size: 52px;
      color: $pageSpecialColorGreen;
    }

  }

}
